@import "fonts";
@import "navbar";

#app {
    overflow: hidden;
}

.indent-left-variable {
    margin-left: 20px;

    @media only screen and (max-width:500px){
        margin-left:none;
        text-align: center;
    }
}


.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.big-bottom-margin {
    margin-bottom: 50px;
}
.body-container {
    margin-left: 20%;
    margin-right: 20%;

    @media screen and (max-width: 992px) {
        margin-left: 15%;
        margin-right: 15%;
    }

    @media screen and (max-width: 762px) {
        margin-left: 5%;
        margin-right: 5%;
    }
}


.padding-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    margin: 0px;//should fix the random margin
}

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: px;
}

//colors: add an import
$dark-grey: #414141;

$light-grey: #D9D9D9;


.footer-size {
    width: 100%;
    height: 240px;
}

.footer-flex {
    @media only screen and (max-width: 500px){
  
        display:flex;
        align-items: center;
        flex-direction: column;
    }
}

//experience card styles

.rounded-corners {
    border-radius: 20px;
}

.icon-grid-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-margin {
    margin: 20px;
}

.icon {
    max-width: 150px;
    max-height: 150px;
}

.component-margin {
    margin-bottom: 30px;
}

.center-margin {
    margin-left: 30px;
    margin-right: 30px;

    @media only screen and (max-width:500px){
        margin-left: none;
        margin-right: none;
    }
    /*add @mobile none*/
}

.exp-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.img-fluid {
    width: 100%;
}

.light-grey-card {
    // width: 100%; //should help keep the grey cards properly centered.
    background-color: $light-grey;

    @media only screen and (max-width: 840px) {
        grid-template-columns: 1fr;
    }
}

.dark-grey-card {
    background-color: $dark-grey;
    color: white;
}

.icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-grey;
    color: white;
    width: 150px;
    height: 150px;
}

.title {
    // height: 25px;
    font-weight: bold;
    // margin: 0px;
    
    @media only screen and (max-width: 840px) {
       margin-bottom: 10px;
       text-align: center;
    }
}



.test {
    color: red !important;
    background-color: red !important;
}


// .navbar-h4 {
//     font-weight: 
// } 

.indent-left {
    margin-left: 20px;
}

.indent-center {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-structure {

    display:flex;
    align-items:center;

    width: 100%;
    height: 80px;

    //link styles

    a {
        color:white;
        text-decoration: none;
    }
    
    a:hover {
        color: $light-grey;
    }
    
    a:active {
        color: $dark-grey;
    }
}

// font weights: